@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
    
    font-family: Roboto;
}


h2{
    color: rgb(84, 82, 82);
    font-size: 25px;
}

.form-group label{
    color: rgb(84, 82, 82);
    font-size: 25px;
}
.checkbox label {
    color: rgb(84, 82, 82);
    font-size: 15px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:500px;
    height:50%;
    
   
    /* clear: both; */
    
}
div#signIn{
    margin-left: 25%;
    width:600px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    clear: both;
}
div#register{
    margin-left: 25%;
    width:600px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* height: 550px; */
    clear: both;
        
        
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card div{ 
    width:100%;
    height:30%;
}
.card h1{
    font-size: 50px;
    font-family: Roboto;
    font-weight: 300;
    color: rgb(131, 9, 9);
    background: rgb(225, 225, 225);
    text-align: center;
    height: 100px;
    margin-top: 10px;
    position: relative;
}
.card div h2{
    text-align: center;
    color: rgb(84, 82, 82);
    font-size: 25px;
}

.login input{
    font-size: 17px;
}

.register input{
    font-size: 17px;
}
.btn{
    background: rgb(0, 118, 244);
    font-size: 20px;
}
.btn:hover{
    background: green;
    
}
.social .btn{
    background: rgb(244, 244, 247);
    font-size: 20px;
}
.social .btn:hover{
    background: green;
    
}
.searchbar input{
height: 40px;
width:  500px;
margin-top: 20px;
margin-bottom: 20px;
margin-right: 20px;


}
.searchbar button{
    height: 40px;
    width:100px;
    margin-left: 20px;
    top: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
} 
.search{
    text-align: left;
    display: grid;
    margin-left: 70px;
}

/* register */
.form-group{
    text-align: left;
}




/****** Style Star Rating  *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size:20px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/* book.html */
section .card  {
    float:left ;
    clear:both;
    
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: rgb(133, 255, 172);  } 
/* index.html*/
.col-lg-12 h1{
    color: rgb(131, 9, 9); 
    background: rgb(225, 225, 225); 
    height: 100px; 
    text-align: center; 
    font-size: 50px;
    font-weight:300;
}
/* 
.searchbar{
    margin-top: 10px;
} */