/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */
body{
    
    font-family: Roboto;
    position:relative;
    width: 100%;
    height: 100%;   
}
/* .txt_center{
    text-align: center;
} */
.center{
    float:center;
}
p{
    color:red;
    font-size: 1.2rem;
}

/* Button */
.btn{
    background: rgb(0, 118, 244);
    font-size: 20px;
}
.btn:hover{
    background: green;
    
}
.btn-primary{
    font-size: 20px;

}

.btn-link {
    font-weight: 400;
    color: rgb(84, 82, 82);
    text-decoration: none;
}
/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0s;
    width:500px;
    height:50%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card div{ 
    width:100%;
    height:30%;
}
.card h1{
    font-size: 50px;
    font-family: Roboto;
    font-weight: 300;
    color: rgb(131, 9, 9);
    background: rgb(225, 225, 225);
    text-align: center;
    height: 100px;
    margin-top: 10px;
    position: relative;
}
.card div h2{
    text-align: center;
    color: rgb(84, 82, 82);
    font-size: 25px;
}


/* login page */

div#signIn{
    margin-left: 25%;
    width:600px;
    margin-top: 50px;
    margin-bottom: 0px;
    clear: both;
    /* height: 700px;  */
}
#signIn h2{
    color: rgb(84, 82, 82);
    font-size: 25px;
} 
button#createaccount{
    float: right;

}
#signIn h3{
    font-size: 19px;
}
#signIn input{
    font-size: 17px;
}
#signIn .forgotpassword{
    text-align: center;
    display: grid;
    grid-template-columns: 40% auto ;
    grid-gap: 10px;
    
    
}
.btn-lg{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
/*verify account*/

button.btn.btn-primary.verifysubmit {
    margin-top: 0px;
    position: relative;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 0px;
    margin-right: 40%;
}
/* register page */
div#register{
    margin-left: 25%;
    width:600px;
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;  
       
}

#register input{
    font-size: 17px;
}

#register h2{
    color: rgb(84, 82, 82);
    font-size: 25px;
}
#register h3{
    font-size: 19px;
}

.form-group{
    text-align: left;
}
/*layout.html*/ 


/* logo */
div#logo {
    
    margin:2px;
}
#logo h1{
    color: rgb(131, 9, 9); 
    background: rgb(225, 225, 225); 
    height: 150px; 
    text-align: center; 
    font-size: 50px;
    font-weight:300;
    padding:30px;
    width: 100%; 


}
/* user account details styles */
.detail{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    float: right;
    

}



#useraccount{
    color: rgb(84, 82, 82);
    font-size: 25px;
    margin-top: 20px;
}

div#useraccount .row {
    display: flex;
    flex-wrap: wrap;
}
div#useraccount .column {
    flex: 25%;
    padding: 20px;
    margin-left: 30px;
  }





/* index.html */
.searchbar{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    padding: 20px;
}
.searchbar input{
    height: 40px;
    width:  100%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    font-size: 20px;
}
.searchbar .btn{
    top:20px;  
    margin-top: -20px;
    margin-left: 0px;
    float: right;
    width: 100%;
    height: 40px;
    position: relative;
}
.searchoption{
    margin-top: 0px;
    margin-left: 20px;
}
.searchoption h4 {
    font-size: 20px;
}




.searchresult{
    text-align: left;
    display: grid;
    margin-left: 40px;
    margin-top: 20px;
    
}
.searchmessages h2{
    
    font-size: 25px;
    margin-top: 20px;  
}
.searchmessages h3 {
    font-size: 20px;
    margin-top: 20px;  
}

.searchresult h4{
    color: rgb(235, 36, 1);
    font-size: 20px;
    margin-top: 20px;
}
#eachbooks h1{
    color: rgb(84, 82, 82);
    font-size: 30px;
    text-align: center;
    margin-top: 0px;

}
#eachbooks h2{
    color: rgb(84, 82, 82);
    font-size: 25px;
}
#eachbooks h3{
    font-size: 19px;
}


/*myreviews */
.myreview{
   
    margin:20px;
    margin-left:0px;
    text-align: left ;
}
.myreview span{
    margin-left: 50px;

      
} 
.myreview ol {
    margin-bottom: 50px;
}
.myreview dd {
    margin-bottom: 20px;
}


/*book.html*/

#bookdetails{
    width:100%;
}

#aboutbook  h1{
    color: rgb(50, 50, 50);
    font-size: 2rem;
    text-align: left;
    text-decoration: none;

}
#aboutbook h2{
    color: black;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 50px;
    padding: 10px;
}
#aboutbook .ratings h2{
    margin-left: 0px;
    font-size: 1.4rem;
  
} 
span.name{
    text-transform: uppercase;
}
#aboutbook .ratings h3{
    margin-left: 50px;
    font-size: 1.25rem;
    
    
} 

/*hr styling*/
.hr_divide_heading{
    border: 3px solid rgb(84, 82, 82);;
    border-radius: 100px;
}
.hr_divide_separator{
    border: 1px solid rgb(84, 82, 82);;
    
}
.reviewabook h2{
     
    padding-bottom: 20px; 
}


.reviewabook textarea{
    width: 100%;
    height: 200px;
 }
.reviewabook{
    margin-bottom: 100px;
}
.notfound{
    color: rgb(235, 36, 1);
} 
h3.notfound span{
    color: black
} 
h4.ratings{
    margin-left: 0px;
    color:black;
} 
#submit{
    margin-left: 400px; 
    margin-bottom:100px;
    margin-top:-40px;
}


/*star*/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size:20px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}



.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: rgb(10, 80, 38);  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: rgb(245, 238, 36);  } 
 


/* media queries */

@media only screen and (max-width: 600px) {
    .btn{

        font-size: 14px;
    }
    .btn-primary{
        font-size: 14px;
        
    }
    .card {
        transition: 0s;
        
    }
    .card h1{
        font-size: 50px;
        height: 100%;
        margin-top: 10px;
        position: relative;
    }

    div#signIn{
        margin-left: 0%;
        width:100%;


    }

    #signIn h2{
        color: rgb(84, 82, 82);
        font-size: 25px;
    }
    
    #signIn h3{
        font-size: 15px;
    }
    #signIn input{
        font-size: 13px;
    }


    /*register page */
    div#register{
        margin-left: 0%;
        width:100%;
        margin-top: 50px;
        margin-bottom: 50px;
        /* height: 550px; */
        clear: both;
            
            
    }
    #register input{
        font-size: 13px;
    }
    #register h3{
        font-size: 15px;
    }

    /*index page */


    .searchbar input{
        height: 30px;
        font-size: 17px;
    }
    .searchbar .btn{
        height: 30px;
    }
    .searchoption h4 {
        font-size: 17px;
    }
    

    .searchresult{
        margin-left: 35px;
        
    }
    .searchmessages h2{
    
        font-size: 20px;
        
    }
    .searchmessages h3 {
        font-size: 18px;
        
    }
    .searchresult h4{
        font-size: 18px;

    }
    #eachbooks h1{
        font-size: 25px;
    }

    #eachbooks h2{
        font-size: 23px;
    }
    #eachbooks h3{
        font-size: 17px
    }

    /*layout.html */

    #useraccount{
        text-align: center;
        font-size: 20px;

    }
    div#useraccount .row {
        display: flex;
        flex-wrap: wrap;
    }
    div#useraccount .column {
        flex: 25%;
        padding: 10px;
        margin-left: 50px;
      }

    #aboutbook{
        margin-top: 20px;
        width: 100%;
    }
    #aboutbook h1{
        font-size: 23px;
    }
    #aboutbook h2{
        font-size: 16px;
    }

    #aboutbook .ratings h3{
        margin-left: 50px;
    } 
     /*layout*/
    .detail{
        display:inline-grid;
        
        grid-gap: 5px;
        padding: 5px;
    }

   
    .hr_divide_heading{
        border: 2px solid rgb(84, 82, 82);;
        border-radius: 100px;
    }
    .hr_divide_separator{
        border: 1px solid rgb(84, 82, 82);;
        
    }
    #submit{
        margin-left: 200px; 
        margin-bottom:100px;
        
    }


    


    
  }