{% extends "layout.html" %}
{% block heading %}

The Book Fair 

{% endblock %}

{% block body %}
    <div class = "container">
        <div class = "row">
            <div class="col-md-8">   
                <section>
                    <article>
                        <h4>{{bookerr}}</h4>
                        <h3>{{reviewerr}}</h3>
                        
                        <h2> {{review_sucess}}</h2>

                        {% for details in book %}
                        
                            <div class="books">
                                <hr>
                
                                    <h2>{{details[1]}}</h2>
                                    
                                    <span>
                                        <h3> by {{details[2]}}</h3>
                                        <h4> published in {{details[3]}}</h4>  
                                        <hr>    
                                        <h3> Average ratings From The Book Fair</h3>
                                         
                                        {% if average_rating[loop.index0] == 0 %}
                                            {% if booksearchby == 'title' %}
                                            <h4> No one has given rating for this book in The Book Fair website.. be first to provide a rating" </h4>
                                            {%else%}
                                            <h4> No one has given rating for this book in The Book Fair website</h4>
                                            {% endif%}
                                        {%else %}
                                            <h4>{{average_rating[loop.index0]}}</h4>
                                        {% endif%}

                                            {% for review in review %}
                                                <hr>
                                                <h4>{{review[0]}}</h4>
                                                <h4>Rating: {{review[1]}}</h4>
                                                <h4> By :{{review[3]}}</h4>

                                             {%endfor%}
                                             <hr>
                                             <h3>Ratings from the Good Reads </h3>
                                            
                                            
                                                {% if goodreads_numberofrating[loop.index0] == 0 %}
                                                    <h4> Looks like no one has given rating in Good Reads </h4>
                                                {%else %}
                                                    <h4>Average Rating: {{goodreads_avg[loop.index0]}}</h4>
                                                    <h4> Number of Rating: {{goodreads_numberofrating[loop.index0]}}</h4>
                                                {%endif%}
                                            
                                               

                                        
                                            
                                         
                                    </span> 
                                    
                                    {% if booksearchby == 'title'  %}
                                        <h3>Write a Review</h3>
                                        
                                            <form action="{{url_for('review',isbn=details[0])}}" method ="post">
                                                <fieldset>
                                                  
                                                
                                                    <h3><textarea name="review" rows="10" cols="100" placeholder="Start writing your review about the book" ></textarea></h3>

                                                <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit" style="margin-left: 100px;">Submit</button>
                                            </fieldset>
                                                
                                                <fieldset form="form1" class="rating" >
                                                    
                                                    <input type="radio" id="5star" name="rating" value="5" /><label class = "full" for="5star" ></label>
                                                    <input type="radio" id="4halfstar" name="rating" value="4.5" /><label class="half" for="4halfstar" ></label>
                                                    <input type="radio" id="4star" name="rating" value="4" /><label class = "full" for="4star" ></label>
                                                    <input type="radio" id="3halfstar" name="rating" value="3.5" /><label class="half" for="3halfstar" ></label>
                                                    <input type="radio" id="3star" name="rating" value="3" /><label class = "full" for="3star" ></label>
                                                    <input type="radio" id="2halfstar" name="rating" value="2.5" /><label class="half" for="2halfstar"></label>
                                                    <input type="radio" id="2star" name="rating" value="2" /><label class = "full" for="2star" ></label>
                                                    <input type="radio" id="1halfstar" name="rating" value="1.5" /><label class="half" for="1halfstar" ></label>
                                                    <input type="radio" id="1star" name="rating" value="1" /><label class = "full" for="1star" ></label>
                                                    <input type="radio" id="halfstar" name="rating" value="0.5" /><label class="half" for="halfstar"></label>
                                                </fieldset>
                                            </form>
                                            
                                    {% endif %}
                                    
                            </div>
                            
                            {%endfor%}
                    </article>
                </section>
            </div>
                <div class="col-md-4">
                    <h2>{{message}}</h2>
                    <form action="{{url_for('logout')}}">
                        <button class = "btn btn-primary">logout</button>
                    </form>
                </div>
            
        </div>
    </div>
{% endblock %}