{% extends "layout.html" %}
{% block heading %}

The Book Fair 

{% endblock %}

{% block body %}

<div class = "container" >
    <div class = "row" id = "bookdetails">

        <div class="col-md-12" >   
            <section>
                <article>
                    <h4 class="notfound text-center">{{emptyreview}}</h4>
                    <h4 class="notfound text-center">{{reviewerr}}</h4>
                    
                    <h2> {{review_sucess}}</h2>

                    {% for details in book %}
                    
                        <div id="aboutbook">
                            
                            <div class="title">
                                
                                <div class="container">
                                    <h1>{{details[1]}} </h1>
                                    <div class="row">
                                        
                                        <div class="col-md-4">
                                            {%if googlebookimage[loop.index0] == "null" %}
                                            
                                                <img src="" alt="Book thumbail">
                                            {%else%}
                                                <img src = {{googlebookimage[loop.index0]}} alt="Thumbail">
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <h2>By {{details[2]}} </h2>
                                            {% if booksearchby == 'author'  %}
                                            <h2> Published in : {{details[3]}}</h2>
                                            {%endif%}
                                        </div>
                                </div>
                                </div>
                            </div>
                            
                            
                                <div class="header">
                                    {% if booksearchby == 'title'  %}
                                    <hr>
                                        <ul class="sectionbar">
                                            <li>
                                                <a href="#overview">Overview</a>
                                                <a href ="#Reviews">Book reviews</a>
                                                <a href ="#writeareview">Write a review</a>
                                            </li>
                                        </ul>
                                        
                                        <h2>About This book </h2>
                                        <div class="border border-secondary" id="overview">
                                            
                                            <ul>
                                                <li>
                                                    <h2>ISBN: <span class="lead">{{details[0]}}</span></h2>
                                                </li>
                                                <li>   
                                                    {% if googlebookpublisher[loop.index0] == "null" %}
                                                    
                                                        <h2>Publisher: <span class="lead notfound"> No publisher found on google books</span> </h2>
                                                    {%else%}
                                                        <h2>Publisher: <span class="lead">{{googlebookpublisher[loop.index0]}} - From Google Books<i class= "fab fa-google"></i> </span> </h2>
                                                    {%endif%}
                                                </li> 
                                                <li>
                                                    <h2> Published in : <span class="lead">{{details[3]}}.</span></h2>
                                                </li>
                                                <li>
                                                    {%if googlebookdescription[loop.index0] == "null" %}
                                                    <h2> Description: - From Google Books<i class= "fab fa-google"></i> </h2>
                                                    <h2><span class="lead notfound"> No Description found on Google books not found</h2>
                                                    {% else %}
                                                    <h2> Description: <span class="lead">- From Google Books<i class= "fab fa-google"></i> </span> </h2>
                                                    <h2> <span class="lead">{{googlebookdescription[loop.index0]}}</h2>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                                
                                        </div>
                                    {%endif%}
                                
                                    
                                    
                                    
                                    <div class = "ratings" id="Reviews">
                                        <hr class="hr_divide_separator"> 
                                        <div class="container-fluid  px-lg-5">
                                            <div class="row mx-lg-n5">
                                                <div class="col-lg-4 py-3 px-lg-5 ">
                                                    <div class="card">
                                                        <!-- <img src = "{{ url_for('static', filename='thebookfair.png') }}" class="card-img-top" alt="thebookfair-logo" > -->
                                                        <div class="card-body">
                                                            <h2 class="card-title"><a href ="#"> The Book Fair</a></h2>
                                                            {% if average_rating[loop.index0] == 0 %}
                                                                {% if booksearchby == 'title' %}
                                                                    <h3 class="notfound card-text">  No ratings. <span>Be first to give one</span></h3>
                                                                {% else %}
                                                                    <h3 class="notfound card-text">   No ratings found.</h3>
                                                                {% endif%}
                                                            {% else %}
                                                                <h3 class="card-text"> Average Rating: {{average_rating[loop.index0]}}</h3>
                                                                <h3 class="card-text">  Number of Rating: {{review|length}}</h3>
                                                            {% endif %}
                                                     
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 py-3 px-lg-5 ">
                                                    <div class="card">
                                                        <!-- <img src = "{{ url_for('static', filename='Goodreads.jpg') }}" class="card-img-top" alt="thegoodreads-logo" >  -->
                                                        <div class="card-body">
                                                            <h2 class="card-title"><a href ="{{goodreadslinks[loop.index0]}}">Good Reads </a></h2>

                                                            {%if goodreads_numberofrating[loop.index0] == null %}
                                                                <h3 class="notfound card-text"> No ratings found.</h3>
                                                            {% else %}
                                                                <h3 class="card-text" >Average Rating: {{goodreads_avg[loop.index0]}}</h3>
                                                                <h3 class="card-text"> Number of Rating: {{goodreads_numberofrating[loop.index0]}}</h3>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 py-3 px-lg-5 ">
                                                    <div class ="card ">
                                                        <!-- <img src ="{{ url_for('static', filename='googlebooks.png') }}" class="card-img-top" alt="googlebooks-logo"> -->
                                                        <div class="card-body">
                                                            {% if googlebooklinks[loop.index0] == "#" %}
                                                            <h2 class="card-title"> <a href ="{{googlebooklinks[loop.index0]}}"> Google Books </a></h2>
                                                            <p class="notfound card-title"> The book fair is not able to find googbooks link</p>
                                                            {%else%}
                                                            <h2 class="card-title"> <a href ="{{googlebooklinks[loop.index0]}}"> Google Books </a></h2>
                                                            {%endif%}
                                                            {%if googlebooknumberofrating[loop.index0] == "null" %}
                                                            <h3 class="notfound card-text">  No ratings found. </h3>
                                                        {% else %}
                                                            <h3 class="card-text" >Average Rating: {{googlebookavg[loop.index0]}}</h3>
                                                            <h3 class="card-text" >Number of Rating: {{googlebooknumberofrating[loop.index0]}}</h3>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <table>
                                            <tr >
                                                <th colspan="3">
                                                    <h1><b>Reviews</b></h1>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <img src ="{{ url_for('static', filename='thebookfair.png') }}" alt="thebookfair-logo" >
                                                </th>
                                                <th>
                                                    <img src ="{{ url_for('static', filename='Goodreads.jpg') }}" alt="goodreads-logo" >
                                                </th>
                                                <th>
                                                    <img src ="{{ url_for('static', filename='googlebooks.png') }}" alt="googlebooks-logo">
                                                </th>
                                            </tr>
                                            <tr>  
                                                <td>
                                                    <h2> <a href ="#"> The Book Fair</a></h2>
                                                </td>
                                                <td>
                                                    
                                                    <h2> <a href ="{{goodreadslinks[loop.index0]}}">Good Reads </a></h2>
                                                </td>
                                                <td>
                                                    {% if googlebooklinks[loop.index0] == "#" %}
                                                    <h2> <a href ="{{googlebooklinks[loop.index0]}}"> Google Books </a></h2>
                                                    <p class="notfound"> The book fair is not able to find googbooks link</p>
                                                    {%else%}
                                                    <h2> <a href ="{{googlebooklinks[loop.index0]}}"> Google Books </a></h2>
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% if average_rating[loop.index0] == 0 %}
                                                        {% if booksearchby == 'title' %}
                                                            <h3 class="notfound">  No ratings. <span>Be first to give one</span></h3>
                                                        {% else %}
                                                            <h3 class="notfound">   No ratings found.</h3>
                                                        {% endif%}
                                                    {% else %}
                                                        <h3> Average Rating: {{average_rating[loop.index0]}}</h3>
                                                        <h3> Number of Rating: {{review|length}}</h3>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {%if goodreads_numberofrating[loop.index0] == null %}
                                                        <h3 class="notfound"> No ratings found.</h3>
                                                    {% else %}
                                                        <h3>Average Rating: {{goodreads_avg[loop.index0]}}</h3>
                                                        <h3> Number of Rating: {{goodreads_numberofrating[loop.index0]}}</h3>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {%if googlebooknumberofrating[loop.index0] == "null" %}
                                                        <h3 class="notfound">  No ratings found. </h3>
                                                    {% else %}
                                                        <h3>Average Rating: {{googlebookavg[loop.index0]}}</h3>
                                                        <h3> Number of Rating: {{googlebooknumberofrating[loop.index0]}}</h3>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            
                                        </table> -->
                               
                                        
                                        {% if booksearchby == 'title' %}
                                            <hr class="hr_divide_separator"> 
                                            <h2> <b>Reviews by 'The Book Fair Readers'</b></h2>
                                        
                                            <div class="bookreaders">
                                                {% if review is defined and review|length %}
                                                    {% for review in review %}
                                                        <h2> <i class="fas fa-book-reader"></i>  <span class= "name"><b>{{review[3]}}</b></span></h2>
                                                        <h3> <i class="fas fa-star"></i>{{review[1]}}</h3>
                                                        <h3> <i class="fas fa-comment"></i> {{review[0]}}</h3>
                                                    {% endfor %}
                                                {%else%}
                                                    <h3 class="notfound">  No ratings found. </h3>
                                                {%endif%}
                                            </div>
                                        {%endif%}
                                    
                                        
                                
                                    </div>
                                </div> 
                            </div>   
                        <hr class="hr_divide_heading">
                        <div class=" reviewabook" id ="writeareview">
                            {% if booksearchby == 'title'  %}
                                <h2 >Write a Review</h2>
                                        
                                        <form action="{{url_for('review',isbn=details[0])}}" method ="post">
                                            <fieldset>
                                                <div>
                                                    <h3>
                                                        <textarea name="review" placeholder="Write your review here" ></textarea>
                                                    </h3>
                                                </div>
                                            </fieldset>
                                            <div class="container ">
                                                <div class="row">
                                                    <div class="col-md-8"> 
                                                        <fieldset form="form1" class="rating">
                                                            
                                                            <input type="radio" id="5star" name="rating" value="5" /><label class = "full" for="5star" ></label>
                                                            <input type="radio" id="4halfstar" name="rating" value="4.5" /><label class="half" for="4halfstar" ></label>
                                                            <input type="radio" id="4star" name="rating" value="4" /><label class = "full" for="4star" ></label>
                                                            <input type="radio" id="3halfstar" name="rating" value="3.5" /><label class="half" for="3halfstar" ></label>
                                                            <input type="radio" id="3star" name="rating" value="3" /><label class = "full" for="3star" ></label>
                                                            <input type="radio" id="2halfstar" name="rating" value="2.5" /><label class="half" for="2halfstar"></label>
                                                            <input type="radio" id="2star" name="rating" value="2" /><label class = "full" for="2star" ></label>
                                                            <input type="radio" id="1halfstar" name="rating" value="1.5" /><label class="half" for="1halfstar" ></label>
                                                            <input type="radio" id="1star" name="rating" value="1" /><label class = "full" for="1star" ></label>
                                                            <input type="radio" id="halfstar" name="rating" value="0.5" /><label class="half" for="halfstar"></label>
                                                        
                                                        </fieldset>
                                                    </div>

                                                    <div class="col-md-4" id="submit"  > 
                                                        <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit" >Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                            
                            {% endif %}
                        </div>
                    {% endfor %}
                </article>
            </section>
        </div>


            
    </div>
</div>
{% endblock %}
