{% extends "baselayout.html" %}

{% block body %}
<div class = "card" id = "register">
    <div class= "card-header"><h1>The Book Fair</h1></div>
    <form action = "{{ url_for('login') }}" method="get">
        <fieldset>
            <legend class="card-body"> 
                <h2 class="card-title">Sign In instead? 
                    
                    <button class = "btn btn-primary">Sign in</button> 
                </h2>
            </legend>
        </fieldset>
    </form>

    <fieldset class="card-body">
        <legend >
            <h2 class="card-title"> Change your password </h2>
            {% if verification_status != 1 %}
                
                <div class="form-group" action="{{ url_for('verifyaccount') }}">
                    <h2 > Please verify your account first</h2>
                    <button class = "btn btn-primary ">Verify</button>

                </div>
            {%else%}
                <form action="{{ url_for('changepassword',verification_status=verification_status)}}" class = " card-body" method="post"> 
                    <div class = "form-group ">
                        {% if type_err_msg != "EMAIL_NOT_FOUND" %}  
                            <fieldset>
                                <legend><h3>Enter your email address</h3>   
                                    <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder={{email}}  value = {{email}} id="email_id" aria-describedby="emailHelp" required >
                        {%else%}
                            <fieldset class="has-error">
                                <p>{{err_msg}}</p>
                                <legend><h3>Enter your email address</h3>   
                                    <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder= "Enter valid email Address" id="email_id" aria-describedby="emailHelp" required >
                            
                        {%endif%}

                            </fieldset>
                    </div>
                    
                    <div class="form-group">
                        {% if type_err_msg == "PASSWORD_LENGTH_ERROR"  or type_err_msg == "PASSWORD_NOT_MATCH"%}
                            <fieldset class="has-error">
                                {% if type_err_msg == "PASSWORD_LENGTH_ERROR" %}
                                    <p>{{err_msg}}</p>
                                {%endif%}
                        {% else %}
                            <fieldset>
                        {% endif %}   
                                <legend><h3>Enter your Password</h3>
                                    <input type="password" class="form-control form-control-lg" name = "password" id="password" placeholder="Password" required>
                                </legend>
                            </fieldset>
                    </div>
                    <div class="form-group">
                    
                        {% if type_err_msg == "PASSWORD_NOT_MATCH"%}
                            <fieldset class="has-error">
                                <p>{{err_msg}}</p>
                                
                        {% else %}
                            <fieldset>
                        {% endif %}   
                                <legend><h3> Confirm your password</h3>
                                    <input type="password" class="form-control form-control-lg" name = "confirmpassword" id="password" placeholder="Confirm Password" required>
                                </legend>
                            </fieldset>
                    </div>
                
                    <div class="form-group">
                        <button class = "btn btn-primary " >Submit</button>

                    </div>
                    
                </form>
            {%endif%}
        </legend> 
    </fieldset>
</div>
{% endblock %}