{% extends "layout.html" %}
{% block heading %}


The Book Fair 

{% endblock %}

{% block body %}

<div class = "container">
    <div class = "row">
        <div class="col-md-12 ">
            <form action ="{{ url_for('search') }}" method="post">
                <form class ="form-inline" >
                    <div class="searchbar">
                        <div>
                            <input class="form-control form-control-lg" type="text" name = "search" placeholder="Search" aria-label="Search">
                        </div>
                        <div>
                            <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Search</button>
                        </div>
                    </div>

                    <div class="row searchoption ">
                        <div class="form-check  form-check-inline">
                            <input class="form-check-input radio-inline" type="radio" name="searchvia" id="all" value="all" checked>
                            <label class="form-check-label" for="all">
                            <h4>all</h4>
                            </label>
                        </div>
                        <div class="form-check  form-check-inline">
                            <input class="form-check-input radio-inline" type="radio" name="searchvia" id="isbn" value="isbn" >
                            <label class="form-check-label" for="isbn">
                            <h4>isbn</h4>
                            </label>
                        </div>

                        <div class="form-check  form-check-inline">
                            <input class="form-check-input radio-inline" type="radio" name="searchvia" id="title" value="title">
                            <label class="form-check-label" for="title">
                            <h4>title</h4>
                            </label>
                        </div>

                        <div class="form-check  form-check-inline">
                            <input class="form-check-input radio-inline" type="radio" name="searchvia" id="author" value="author">
                            <label class="form-check-label" for="author">
                            <h4>author</h4>
                            </label>
                        </div>
                    </div>

                </form>
                
            </form>
        </div>
    </div>
</div>


<section>
    <article class = "searchresult">
        <div class="searchmessages">
            
            {% if search_msg_no_results != "" %}
            <h2>{{search_msg}} <span><b>{{bookname}}</b></span> </h2>
                <h3 class="notfound">{{search_msg_no_results}} <span><b>{{query}}</b></span></h3>
            {%endif %}
            <h4>{{error}}</h4>
        </div>

        {% for book in books %}
            <div id="eachbooks">
                <a href="{{url_for('books',b=book[1],booksearchby='title') }}"><h2>{{book[1]}}</h2></a>
                    <span>
                        <a href="{{url_for('books',b=book[2],booksearchby='author') }}"><h3> by {{book[2]}}</a> 
                         published in {{book[3]}}</h3>      
                         <hr>
                    </span> 
             </div>
        {%endfor%}
           
       
        

        
    </article>
</section>


{% endblock %}