{% extends "layout.html" %}
{% block heading %}

<!-- The Book Fair -->

{% endblock %}

{% block body %}

<div class = "card">
   <h1>The Book Fair</h1>
    {{message}}
    <form action = "{{ url_for('register') }}" method="get">
        <fieldset>
            <legend> 
                <h2>First time here?  
                    <button class = "btn btn-primary">Create Account</button> 
                </h2>
            </legend>
        </fieldset>
    </form>
   
    <fieldset>
        <legend><h2>Sign In </h2></legend> 
        <form action="{{ url_for('login') }}" class = "login" method="post">
            
            
                <div class = "form-group">
                    {% if type_err_msg != "EMAIL_NOT_FOUND" %}  
                        <fieldset>
                    {%else%}
                        <fieldset class="has-error">
                    {%endif%}
                            <legend>Enter email
                                {% if type_err_msg != "WRONG_PASSWORD"%}
                                <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder="Enter your e-mail id: " id="email_id" aria-describedby="emailHelp" required >
                                {%else %}
                                <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder= {{email}} id="email_id" aria-describedby="emailHelp" value = {{email}} required >
                                {%endif%}
                            </legend>
                        </fieldset>
                </div>
                
                <div class="form-group">
                    {% if type_err_msg != "WRONG_PASSWORD" %}
                        <fieldset>
                    {%else%}
                        <fieldset class="has-error">
                    {%endif%}   
                            <legend>Enter Password
                                <input type="password" class="form-control form-control-lg" name = "password" id="password" placeholder="Enter your password:" required>
                            </legend>
                        </fieldset>
                </div>
        
            <div class="form-group">
                <button class = "btn btn-primary">Submit</button>
            </div>
            
            <h2>{{err_msg}}</h2>

            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>  
            </div>
            
        </form>
    </fieldset>
    <div>
        <fieldset>
            <legend> 
                <h2>or login with </h2>
                    <span>
                        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
                    </span>
            </legend>
        </fieldset>
    </div>
</div>
{% endblock %}