{% extends "baselayout.html" %}

{% block body %}

<div class = "card" id = "signIn">
    <div class= "card-header"><h1>The Book Fair</h1></div>
    <form action = "{{ url_for('register') }}" method="get">
        <fieldset>
            <legend class="card-body"> 
                <h2 class="card-title">
                    <div>
                        <a class ="btn-link " data-toggle="collapse" href="#createaccount" role="button" aria-expanded="false" aria-controls="createaccount">
                        First time here? 
                        </a>
                        <span>
                            <button class = "btn btn-primary btn-sm collapse" id="createaccount">Create Account</button> 
                        </span>
                    </div>
                </h2>
            </legend>
        </fieldset>
    </form>

    <fieldset class="card-body">
        <legend >
            <h2 class="text-center">or</h2>
            <h2 class="card-title">Sign In </h2>
        
            <form action="{{ url_for('login') }}" class = " card-body" method="post"> 
                <div class = "form-group ">
                    {% if type_err_msg != "EMAIL_NOT_FOUND" %}  
                        <fieldset>
                    {%else%}
                        <fieldset class="has-error">
                        <p>{{err_msg}}</p>
                    {%endif%}
                            <legend><h3>Enter your email address</h3>
                                {% if type_err_msg != "WRONG_PASSWORD"%}
                                <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder="Email address" id="email_id" aria-describedby="emailHelp" required >
                                {%else %}
                                <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder= {{email}} id="email_id" aria-describedby="emailHelp" value = {{email}} required >
                                {%endif%}
                            </legend>
                        </fieldset>
                </div>
                
                    <div class="form-group">
                        {% if type_err_msg != "WRONG_PASSWORD" %}
                            <fieldset>
                        {%else%}
                            <fieldset class="has-error">
                            <p>{{err_msg}}</p>
                        {%endif%}   
                                <legend><h3>Enter your password</h3>
                                    <input type="password" class="form-control form-control-lg" name = "password" id="password" placeholder="Password" required>
                                </legend>
                            </fieldset>
                    </div>
            
                <div class="form-group forgotpassword">
                    <button class = "btn btn-primary " >Submit</button>
                
                {% if type_err_msg == "WRONG_PASSWORD" %}
                <a href="{{ url_for('verifyaccount') }}" class = " btn-lg  btn-light btn-outline-info" ><h4>Forgot password</h4></a>
                {%endif%}


                </div>
                
                
                
        
                
            </form>
        </legend> 
    </fieldset>
</div>

{% endblock %}