{% extends "layout.html" %}
{% block heading %}

The Book Fair  

{% endblock %}

{% block body %}

 
<div class="myreview" id="eachbooks">
    <h1> REVIEWS</h1>
    <h3 class="notfound text-center" style="margin-top:20px">{{err_msg}}</h3>

    {% for review in reviews %}
    <ol>
        <dl>
            <dt>
                <h2>{{loop.index }}.
                    
                <a href="{{url_for('books',b=review.title,booksearchby='title') }}">
                   {{review.title}}</h2></a> 
              
            
                <h3 class= "ratings"> My Rating: {{review.rating}}</h3>
            </dt>
            <dd>
                <h3> Comments: <br><span>{{review.contents}}</span></h3>
            </dd>
            <hr class="hr_divide_separator">
        </dl>
    </ol>
    {%endfor%}
   
</div>
{%endblock%}