{% extends "baselayout.html" %}


{% block body %}
<div class = "card" id="register">
    <div class= "card-header" ><h1>The Book Fair</h1></div>
    
    <form action = "{{ url_for('login') }}" method="get">
        <fieldset>
            <legend class="card-body"> 
                <h2 class="card-title">Already have a book fair account?
                    
                    <button class = "btn btn-primary">Sign in</button> 
                </h2>
            </legend>
        </fieldset>
    </form>
    <fieldset class="card-body">
        <legend>
             <h2 class="txt_center">or</h2> 

            <h2 class="card-title">Register your account here </h2>
                <form action="{{ url_for('register') }}" method="post">
                    <div class = "form-group">
                        <fieldset>
                            <legend><h3>Enter your name</h3>
                                {% if type_err_msg=="PASSWORD_LENGTH_ERROR" or type_err_msg=="PASSWORD_NOT_MATCH"  %}
                                    <input type = "text" class="form-control form-control-lg " name = "name" placeholder="Name "  value = {{name}} required >
                                {%else%}
                                    <input type = "text" class="form-control form-control-lg " name = "name" placeholder="Name " required >
                                {%endif%}
                            </legend>
                        </fieldset>
                    </div>

                    <div class = "form-group">
                        {% if type_err_msg == "email_error" %}  
                            <fieldset class="has-error">
                                <p>{{err_msg}}</p>
                        {%else%}
                            <fieldset>
                        {%endif%}
                                <legend><h3>Enter your email address</h3>
                                    {% if type_err_msg=="PASSWORD_LENGTH_ERROR" or type_err_msg=="PASSWORD_NOT_MATCH"%}
                                        <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder="Email address" id="email_id" aria-describedby="emailHelp" value = {{email}}  required >
                                    {%else %}
                                        <input type = "email" class="form-control form-control-lg " name = "email_id" placeholder="name@xyz.com" id="email_id" aria-describedby="emailHelp" required >
                                    {%endif%}
                                </legend>
                            </fieldset>
                    </div>
                    <div class="form-group">
                        {% if type_err_msg == "PASSWORD_LENGTH_ERROR"  or type_err_msg == "PASSWORD_NOT_MATCH"%}
                            <fieldset class="has-error">
                                {% if type_err_msg == "PASSWORD_LENGTH_ERROR" %}
                                    <p>{{err_msg}}</p>
                                {%endif%}
                        {% else %}
                            <fieldset>
                        {% endif %}   
                                <legend><h3>Enter your Password</h3>
                                    <input type="password" class="form-control form-control-lg" name = "password" id="password" placeholder="Password" required>
                                </legend>
                            </fieldset>
                    </div>
                    <div class="form-group">
                    
                        {% if type_err_msg == "PASSWORD_NOT_MATCH"%}
                            <fieldset class="has-error">
                                <p>{{err_msg}}</p>
                                
                        {% else %}
                            <fieldset>
                        {% endif %}   
                                <legend><h3> Confirm your password</h3>
                                    <input type="password" class="form-control form-control-lg" name = "confirmpassword" id="password" placeholder="Confirm Password" required>
                                </legend>
                            </fieldset>
                    </div>

                    <div class="form-group">
                        <button class = "btn btn-primary">Submit</button>
                    </div>
                </form>    
        </legend>
    </fieldset>

</div>


{% endblock %}