{% extends "layout.html" %}
{% block heading %}

The Book Fair  

{% endblock %}

{% block body %}


<div class="myreview" id="eachbooks">
    <h3 class="notfound text-center" style="margin-top:20px">{{err_msg}}</h3>

    {% for review in reviews %}
    <ol>
        <dl>
            <dt>
                <h2>{{loop.index }}.
                    
                <a href="{{url_for('books',b=review.title,booksearchby='title') }}">
                   {{review.title}}</h2></a> 
                
                <h3>
                    {%if review.rating != None %}
                        {% for num in range(0,review.rating|round(0,'floor') |int)%}
                            <i class="fas fa-star"></i>
                        {% endfor %}

                        {% if review.rating|round(0,'ceil') - review.rating|float >= 0.5 %}
                            <i class="fas fa-star-half"></i>
                        {% endif%}
                        {% if 5 - review.rating >=1 %}
                            {% for num in range(0,5 - review.rating|round(0,'ceil')|int)%}
                        <i class=" fas fa-star" style="color: rgb(154, 152, 152);"></i>
                            {%endfor%}
                        {%endif%}
                        <h3 class= "ratings"> My Rating: {{review.rating}}</h3>
                    {%else %}
                        
                        {% for num in range(0,5)%}
                            <i class="fas fa-star" style="color: rgb(154, 152, 152);"></i>
                        {% endfor %}
                    {%endif%}
                    </h3>

                                          
                </h3>
                
            </dt>
            <dd>
                <h3> Comments: <br>
                    <span>
                        {%if review.contents|length != 0 %}
                            {{review.contents}}
                        {%else%}
                            None
                        {%endif%}
                </span>
            </h3>
            </dd>
            <hr class="hr_divide_separator">
        </dl>
    </ol>
    {%endfor%}
   
</div>
{%endblock%}